Source: sucharu-theme-icon
Section: misc
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper-compat (= 13),
               dh-migrations,
Build-Depends-Indep: meson (>= 0.60),
                     sassc,
                     python3
Standards-Version: 4.6.0
Homepage: https://hsbasu.github.io/sucharu-theme-icon
Vcs-Browser: https://github.com/mamolinux/sucharu-theme-icon
Vcs-Git: https://github.com/mamolinux/sucharu-theme-icon.git

Package: sucharu-theme-icon
Architecture: all
Depends: ${misc:Depends},
Replaces: mamolinux-icons ( <= 1.0.2 )
Breaks: mamolinux-icons ( <= 1.0.2 )
Conflicts: mamolinux-icons ( <= 1.0.2 )
Description: Sucharu Icon theme
 This is the Icon theme for MamoLinux
 .
 This package contains the icon theme
 .
 If you want to follow development, more information here:
 https://github.com/mamolinux/sucharu-theme-icon/icons.
